.dirstamp
machinery/
machinery.aux
machinery.cp
machinery.cps
machinery.dvi
machinery.fn
machinery.fns
machinery.html
machinery.info
machinery.ky
machinery.kys
machinery.log
machinery.pdf
machinery.pg
machinery.pgs
machinery.ps
machinery.tmp
machinery.toc
machinery.tp
machinery.tps
machinery.vr
machinery.vrs
stamp-vti
texinfo.tex
version.texi
