machinery/
machinery.aux
machinery.cp
machinery.cps
machinery.dvi
machinery.fn
machinery.fns
machinery.html
machinery.info
machinery.ky
machinery.log
machinery.pdf
machinery.pg
machinery.ps
machinery.toc
machinery.tp
machinery.vr
texinfo.tex
